<h1>Login</h1>

<%= form_with url: user_session_path, scope: :user, method: :post, local: true do |f| %>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.submit "Login" %>
  </div>

  <hr>

  <p>
    Don’t have an account?
    <%= link_to "Create account", new_user_registration_path %>
  </p>
<% end %>