<h1>New Product</h1>

<%= form_with model: [:admin, @product], local: true do |f| %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 5 %>
  </div>

  <div>
    <%= f.label :image %><br>
    <%= f.file_field :image %>

    <% if @product.image.attached? %>
      <p>Current image:</p>
      <%= image_tag @product.image, width: 150 %>
    <% end %>
  </div>

  <br>

  <div>
    <%= f.submit "Create Product" %>
  </div>

<% end %>

<br>
<%= link_to "Back", admin_products_path %>
