<h3><%= @product.name %></h3>
<p><%= @product.description %></p>

<%= image_tag @product.image if @product.image.attached? %>

<h2>Valor:</h2> R$<%= @product.price %>

<%= button_to "Adicionar ao carrinho",
        add_product_path(product_id: @product.id),
        method: :post,
        class: "add-to-cart" %>
</div>