<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecommerce From Scratch" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <nav class="navbar">
        <div class="navbar-left">
          <%= link_to "Home", "/", class: "navbar-brand" %>
        </div>

        <div class="navbar-right">
          <%= link_to "Produtos", products_path, class: "navbar-link" %>
          <% if user_signed_in? %>
            <div class="">
              <%= link_to "Meus Pedidos", orders_path, class: "navbar-link" %>
            </div>
          <% end %>
          <%= link_to cart_path, class: "navbar-cart", aria: { label: "Carrinho" } do %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="9" cy="21" r="1"></circle>
              <circle cx="20" cy="21" r="1"></circle>
              <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
            </svg>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Meu Perfil", edit_user_registration_path, class: "navbar-link" %>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, class: "navbar-link" %>
          <% end %>          
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
