<h1>Criar conta</h1>

<%= form_with url: user_registration_path, scope: :user, method: :post, local: true do |f| %>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true, class: 'email-input' %>
  </div>

  <div> 
    <%= f.label :senha %><br>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <label for="password_confirmation">Confirmar senha</label> <br>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= f.submit "Criar conta" %>
  </div>
<% end %>

<hr>

<p>
  Já tem uma conta?
  <%= link_to "Login", new_user_session_path %>
</p>